<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>

      body {
          margin: 0;
          padding: 0;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          background: #e3f2fd;
      }

      .container {
          width: 960px;
          margin: 0 auto;
      }

      h1 {
          padding: 20px 0;
          text-align: center;
          background: #2962ff;
          color: white;
      }

      h2 {
          margin-bottom: 0px;
          padding-left: 10px;
          text-align: left;
          background: #2979ff;
          color: white;
      }

      img {
          height: 400px;
          margin: 40px auto 40px;
          display: block;
      }

      table {
          width: 100%;
          color: #333;
          background: white;
          border-collapse: collapse;
      }

      tr {
          border-bottom: 1px solid #eee;
      }

      td {
          padding: 5px 0;
      }

      td:first-child {
          width: 300px;
          padding-left: 10px;
      }

      p#footer {
          margin-top: 100px;
    </style>

    }
  </head>
  <body>
    <h1>Prva strana</h1>
    <h2>Arapski jezik</h2>
    <p>Arapski jezik je semitski jezik</p>
    <img src="picture/IMG_3533.JPG" alt="" />

    

  </body>
</html>
