* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    color: rgb(60,62,82);
    letter-spacing: 1px;
    font-weight: 500;
}

.nav-container {
    width: 960px;
    background-color:rgb(200,53,47);
}
.main-container {
    width: 960px;
    margin: 0 auto;
}

.nav-container ul {
    float: right;
    list-style: none;
    color: white;
}
li {
    display: inline-block;
    padding: 11px;
    margin-right: 12px;

}

.main-img-container img {
    width: 960px;
    margin-top:2px;
    margin-bottom: 3px;
}

.side-bar-container p {
    border-bottom: thin solid rgba(80, 80, 80, 0.596);
    padding:10px;
    
}

.floating-container {
    display: inline-block;
    max-width: 300px;
    margin: 7px;
}

.floating-container p {
    margin-top: 7px;
}

.floating-container div {
    width: 300px;
    height: 200px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.red-box {
    background-color:rgb(193,57,43);
}

.blue-box {
    background-color: rgb(45,62,80);
}

.yellow-box {
    background-color:rgb(255,190,0);
}

.green-box {
    background-color: rgb(39,174,97);
}

.side-bar-container {
    background-color: rgb(255,190,0);
    max-width: 300px;
    float: right;
    padding: 20px 10px;
}

footer {
    width: 100%;
    background-color: rgb(45,62,80);
    color: white; 
}

.footer-container {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 20px; 
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}



