.container {
    padding: 10px 15px;
    height: 700px;
    width: 960px;
    margin: 0px auto;
    background: rgb(241, 239, 239);
   
  }
  
  .nav {
    padding: 10px;
    height: 40px;
    background: rgb(235, 220, 19);
  }
  
  .nav .active {
    background: #ccc;
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav ul li {
    float: left;
    position: relative;
  }
  
  .nav ul li a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #000;
  }
  
  .nav ul li:hover {
    background: rgb(241, 239, 239);
  }
  
   .nav ul li a:hover {
    background: rgb(241, 239, 239);
  }
  
  .nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    display: none;
  }
  
  .nav ul li:hover>ul {
    display: block;
  }
  
  .nav ul li ul li {
    float: none;
  }
  
  .nav ul li ul li a {
    background: #fff;
  }