<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <h1>Position</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae
      blandit ex, ut laoreet purus.Cras vitae blandit ex, ut laoreet purus.Lorem
      ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <img
      src="../css_list,tables,forms/images.css/02-Orhideja.jpg"
      alt=""
      width="200px"
      width="200px"
      id="slika1"
    />
    <br />
    <img
      src="../css_list,tables,forms/images.css/images.png"
      alt=""
      width="200px"
      height="200px"
      id="slika2"
    />
    <br />
    <img
      src="../css_list,tables,forms/images.css/Violet.jpg"
      alt=""
      width="200px"
      height="200px"
      id="slika3"
    />
    <br />

    <p>
      Donec pharetra blandit massa, sed pretium magna interdum nec. Suspendisse
      scelerisque porta libero ac efficitur. Sed rutrum pellentesque lectus quis
      venenatis. Vivamus tincidunt consectetur congue. Ut sit amet lobortis
      odio. Praesent massa orci, accumsan sit amet pharetra varius, ullamcorper
      in dui. In augue ex, placerat et lobortis cursus, venenatis eu neque.
      Nulla hendrerit viverra mi id luctus. Aenean nec fermentum orci. Aliquam
      maximus, risus eu mattis lacinia, urna turpis dignissim magna, ac faucibus
      turpis odio nec nunc.In augue ex, placerat et lobortis cursus, venenatis
      eu neque. Nulla hendrerit viverra mi id luctus. Aenean nec fermentum orci.
      Aliquam maximus, risus eu mattis lacinia, urna turpis dignissim magna, ac
      faucibus turpis odio nec nunc.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae
      blandit ex, ut laoreet purus. Integer vestibulum quam id elementum
      hendrerit. Nullam ac molestie est, quis tempor est. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Praesent placerat ipsum et elit suscipit, in fermentum urna tempus. Etiam
      purus libero, cursus id tristique vitae, interdum et felis. Fusce est dui,
      pellentesque in quam in, hendrerit porta odio. Quisque aliquet a est nec
      consequat. Aenean luctus velit ac sapien egestas scelerisque. Vivamus
      porta ultrices est, nec molestie mauris pharetra sed. Donec pharetra
      blandit massa, sed pretium magna interdum nec. Suspendisse scelerisque
      porta libero ac efficitur. Sed rutrum pellentesque lectus quis venenatis.
      Vivamus tincidunt consectetur congue. Ut sit amet lobortis odio. Praesent
      massa orci, accumsan sit amet pharetra varius, ullamcorper in dui. In
      augue ex, placerat et lobortis cursus, venenatis eu neque. Nulla hendrerit
      viverra mi id luctus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae
      blandit ex, ut laoreet purus. Integer vestibulum quam id elementum
      hendrerit. Nullam ac molestie est, quis tempor est. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Praesent placerat ipsum et elit suscipit, in fermentum urna tempus. Etiam
      purus libero, cursus id tristique vitae, interdum et felis. Fusce est dui,
      pellentesque in quam in, hendrerit porta odio.
    </p>
    <p>
      Quisque aliquet a est nec consequat. Aenean luctus velit ac sapien egestas
      scelerisque. Vivamus porta ultrices est, nec molestie mauris pharetra sed.
      Donec pharetra blandit massa, sed pretium magna interdum nec. Suspendisse
      scelerisque porta libero ac efficitur. Sed rutrum pellentesque lectus quis
      venenatis. Vivamus tincidunt consectetur congue. Ut sit amet lobortis
      odio. Praesent massa orci, accumsan sit amet pharetra varius, ullamcorper
      in dui. In augue ex, placerat et lobortis cursus, venenatis eu neque.
      Nulla hendrerit viverra mi id luctus. Aenean nec fermentum orci. Aliquam
      maximus, risus eu mattis lacinia, urna turpis dignissim magna, ac faucibus
      turpis odio nec nunc. Praesent massa orci, accumsan sit amet pharetra
      varius, ullamcorper in dui. In augue ex, placerat et lobortis cursus,
      venenatis eu neque. Nulla hendrerit viverra mi id luctus. Aenean nec
      fermentum orci. Aliquam maximus, risus eu mattis lacinia, urna turpis
      dignissim magna, ac faucibus turpis odio nec nunc.
    </p>
    <a id="link" href="">BACK TO TOP</a>
  </body>
</html>
