* {
  margin: 0px;
  padding: 0px; }

#list_one {
  width: 960px;
  height: 25px;
  background-color: #c1392b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  #list_one a {
    color: white;
    text-decoration: none;
    margin-right: 15px; }
    #list_one a#home, #list_one a#about, #list_one a#contact, #list_one a#blog {
      float: right; }

.wrap {
  width: 960px;
  position: relative; }
  .wrap #divOne,
  .wrap #divTwo {
    width: 480px;
    height: 500px;
    background-color: #ef6026;
    float: left; }
  .wrap #divTwo {
    background-color: #2aa5e4; }
  .wrap img {
    position: relative;
    float: left;
    height: 275px;
    left: 250px;
    top: -400px; }
  .wrap #div_three {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    background-color: #c1392b;
    clear: left;
    margin-left: 15px;
    top: -260px; }
  .wrap #div_four {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    background-color: #2d3e50;
    margin-left: 15px;
    top: -260px; }
  .wrap .align {
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
  .wrap #list_two {
    position: relative;
    float: left;
    width: 300px;
    height: 250px;
    background-color: #ffbe00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    top: -270px; }
    .wrap #list_two .color {
      color: #2d3e50; }
  .wrap #p1 {
    clear: left; }
  .wrap #p1,
  .wrap #p2 {
    position: relative;
    float: left;
    width: 300px;
    margin-left: 15px;
    top: -300px; }
  .wrap #div_five,
  .wrap #div_six,
  .wrap #div_seven {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    background-color: #27ae61;
    margin-left: 15px;
    top: -290px; }
  .wrap #div_five {
    background-color: #ffbe00;
    clear: left; }
  .wrap #div_seven {
    background-color: #c1392b; }
  .wrap #p3 {
    clear: left; }
  .wrap #p3,
  .wrap #p4,
  .wrap #p5 {
    position: relative;
    float: left;
    width: 300px;
    margin-left: 15px;
    top: -280px; }
  .wrap #div_eight,
  .wrap #div_nine,
  .wrap #div_ten {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    background-color: #ffbe00;
    margin-left: 15px;
    top: -260px; }
  .wrap #div_eight {
    background-color: #2d3e50;
    clear: left; }
  .wrap #div_ten {
    background-color: #27ae61; }
  .wrap #p6 {
    clear: left; }
  .wrap #p6,
  .wrap #p7,
  .wrap #p8 {
    position: relative;
    float: left;
    width: 300px;
    margin-left: 15px;
    top: -250px; }

/*# sourceMappingURL=style.css.map */
