<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mobile.css" />
    <title>Mobile</title>
  </head>

  <body>
    <div class="container">
      <header class="clearfix">
        <h1>BitLayouts</h1>
        <div>
          <img
            src="../css_list,tables,forms/pictures/Screenshot (115).png"
            alt="Art image"
            class="header-img"
          />
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </header>
      <div class="box">
        <article class="clearfix">
          <img
            src="../css_list,tables,forms/pictures/Screenshot (115).png"
            alt=""
            class="article-img"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            pariatur vero commodi nemo, impedit vitae inventore nisi,
            perferendis veniam doloremque voluptates saepe quibusdam? Voluptatum
            sapiente mollitia et corporis sint aliquid?
          </p>
        </article>
      </div>
      <div class="box">
        <article class="clearfix">
          <img
            src="../css_list,tables,forms/pictures/Screenshot (115).png"
            alt=""
            class="article-img"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            pariatur vero commodi nemo, impedit vitae inventore nisi,
            perferendis veniam doloremque voluptates saepe quibusdam? Voluptatum
            sapiente mollitia et corporis sint aliquid?
          </p>
        </article>
      </div>
      <div class="box">
        <article class="clearfix">
          <img
            src="../css_list,tables,forms/pictures/Screenshot (115).png"
            alt=""
            class="article-img"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            pariatur vero commodi nemo, impedit vitae inventore nisi,
            perferendis veniam doloremque voluptates saepe quibusdam? Voluptatum
            sapiente mollitia et corporis sint aliquid?
          </p>
        </article>
      </div>
    </div>
  </body>
</html>
