$color-red: rgb(193, 57, 43);
$color-orange: rgb(239, 96, 38);
$color-light-blue: rgb(42, 165, 228);
$color-dark-blue: rgb(45, 62, 80);
$color-yellow: rgb(255, 190, 0);
$color-green: rgb(39, 174, 97);
$color-white: white;