@import './color.scss';
@import './mixins.scss';

* {
    margin: 0px;
    padding: 0px;
}

#list_one {
    width: 960px;
    height: 25px;
    background-color: $color-red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;

    & a {
        color: $color-white;
        text-decoration: none;
        margin-right: 15px;

        &#home,
        &#about,
        &#contact,
        &#blog {
            float: right;
        }
    }
}

.wrap {
    width: 960px;
    position: relative;

    #divOne,
    #divTwo {
        width: 480px;
        height: 500px;
        background-color: $color-orange;
        float: left;
    }

    #divTwo {
        background-color: $color-light-blue;
    }

    img {
        @include floatLeft;
        height: 275px;
        left: 250px;
        top: -400px;
    }

    #div_three {
        @include floatLeft;
        width: 300px;
        height: 200px;
        background-color: $color-red;
        clear: left;
        margin-left: 15px;
        top: -260px;
    }

    #div_four {
        @include floatLeft;
        width: 300px;
        height: 200px;
        background-color: $color-dark-blue;
        margin-left: 15px;
        top: -260px;
    }

    .align {
        color: $color-white;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        @include flexCenter;
    }

    #list_two {
        @include floatLeft;
        width: 300px;
        height: 250px;
        background-color: $color-yellow;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        list-style-type: none;
        text-align: left;
        font-size: 20px;
        margin-left: 30px;
        top: -270px;

        .color {
            color: $color-dark-blue;
        }
    }

    #p1 {
        clear: left;
    }

    #p1,
    #p2 {
        @include floatLeft;
        width: 300px;
        margin-left: 15px;
        top: -300px;
    }

    #div_five,
    #div_six,
    #div_seven {
        @include floatLeft;
        width: 300px;
        height: 200px;
        background-color: $color-green;
        margin-left: 15px;
        top: -290px;
    }

    #div_five {
        background-color: $color-yellow;
        clear: left;
    }

    #div_seven {
        background-color: $color-red;
    }

    #p3 {
        clear: left;
    }

    #p3,
    #p4,
    #p5 {
        @include floatLeft;
        width: 300px;
        margin-left: 15px;
        top: -280px;
    }

    #div_eight,
    #div_nine,
    #div_ten {
        @include floatLeft;
        width: 300px;
        height: 200px;
        background-color: $color-yellow;
        margin-left: 15px;
        top: -260px;
    }

    #div_eight {
        background-color: $color-dark-blue;
        clear: left;
    }

    #div_ten {
        background-color: $color-green;
    }

    #p6 {
        clear: left;
    }

    #p6,
    #p7,
    #p8 {
        @include floatLeft;
        width: 300px;
        margin-left: 15px;
        top: -250px;
    }
}